<h1>EDA</h1>

In [1]:
import numpy as np
import pandas as pd

In [ ]:
# np.random.seed(42)

rows = 350

data = {
    "Customer_ID": range(1001, 1001 + rows),
    "Age": np.random.randint(18, 65, rows),
    "Gender": np.random.choice(["Male", "Female"], rows),
    "City": np.random.choice(["Delhi", "Mumbai", "Bangalore", "Pune", "Hyderabad"], rows),
    "Annual_Income": np.random.randint(200000, 2000000, rows),
    "Spending_Score": np.random.randint(1, 101, rows),
    "Product_Category": np.random.choice(["Electronics", "Clothing", "Grocery", "Furniture"], rows),
    "Purchase_Amount": np.random.randint(500, 50000, rows),
    "Payment_Method": np.random.choice(["Cash", "Card", "UPI"], rows),
    "Satisfaction": np.random.randint(1, 6, rows)
}

In [4]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df1 = pd.DataFrame(
    {
        "id":[1,2,3,4,5,1],
        "name":["Rohan","Kunal",np.nan,"Sohit",np.nan,"Rohan"]
    }
)
print(df1)

In [ ]:
#check the duplicate rows
df1.duplicated().sum()

In [ ]:
# count the null values
df1.isnull().sum()

In [ ]:
df.isnull().sum()

In [27]:
#Age Distribution
import matplotlib.pyplot as plt

In [ ]:
plt.hist(df["Age"],bins=15)
plt.xlabel("age")
plt.ylabel("count")
plt.title("Age Distribution")
plt.show()

In [ ]:
df["Product_Category"].value_counts()

In [ ]:
plt.scatter(df["Purchase_Amount"],df["Age"])
plt.xlabel("Purchase amount")
plt.ylabel("Age")
plt.show()

In [ ]:
df.groupby("Gender")["Purchase_Amount"].sum()

In [ ]:
df.groupby("Product_Category")["Purchase_Amount"].mean()